*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    padding: 30px;
    background-color: #93BFCF;
    width: 100vw;
    
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #BDCDD6;
}

.nav a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-weight: bolder;

}

.nav a:hover{
    background-color: #6096B4;
    transition: 500ms;
}

.row{
    background-color: #EEE9DA;
    display: flex;
    flex-direction: row; /*muutin tätä*/
    width: 100vw;
    align-items: flex-start; /* ja tätä*/
}

.leftrow a{
    padding: 15px;
    display: block; 
    text-decoration: none; 
    color: black; 
}

.leftrow{
    text-align: left;
    width: 100%;
    align-self: stretch; /* lisäsin myös tämän, että molemmat puolet olisivat yhtä isoja, koska meillä on tekstiä vähemmän vasemmalle puolella*/
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.leftrow a:hover {
    text-decoration: none;
}

.rightrow{
    width: 100%;
    align-self: stretch;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.laptop{
    display: flex;
    flex-direction: row;
}
.phone{
    display: flex;
    flex-direction: row;
}
.tv{
    display: flex;
    flex-direction: row;
}

/* lisäsin card1 ja card -muotoilut (että alueet ovat vierekkäin), mutta halutaanko borderia alueiden väliin? Ne on nyt kommentoitu pois käytöstä..*/
.card1 {
    flex: 1; /* tämä tarkoittaa, että alue jaetaan vasempaan ja oikeaan alueeseen*/
  /* border: 1px solid #ccc;*/
    padding: 20 px;
    text-align: left;
}
.card{
    flex: 1;
    /*border: 1px solid #ccc;*/
    padding: 20 px;

}
 


.footer{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #6096B4;
}