*{
    box-sizing: border-box;
}
 
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #93BFCF;
    margin-bottom: 60px; /*lisäsin tämän, että tämän verran varataan footerille sivun alareunassa*/
    height: 100%;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header h1{
    padding-left: 30px;
   
    
}


.header{
        
    background-color: #93BFCF;
    width: 100vw;
}

.nav{
    display: flex;
    /*justify-content: space-around;*/
    /*width: 100vw;*/
    background-color: #BDCDD6;
    margin: 0;
    justify-content: flex-start;
    flex: none;
}

.nav a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-weight: bolder;

}

.nav a:hover{
    background-color: #6096B4;
    transition: 500ms;
}

.row{
    background-color: white;
    display: flex;
    flex-direction: row; 
    /*width: 100vw;*/
    align-items: flex-start; 
    flex-shrink: 0;
    height: 80vh;
   

}

.leftrow a{
    padding: 15px;
    display: block; 
    text-decoration: none; 
    color: black; 
}

.leftrow{
    text-align: left;
    width: 100%;
    align-self: stretch; 
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 30px;
    margin-left: 0;
}
.leftrow a:hover {
    text-decoration: none;
}

.rightrow{
    width: 100%;
    align-self: stretch;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.laptop, .phone, .tv{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}



.card1 {
    flex: 1; 
    min-height: 77vh;
    max-width: 50%;
    padding: 20 px;
    text-align: left;
   
}
.card{
    flex: 1;
    min-height: 77vh;
    max-width: 50%;
    padding: 20 px;
   
}

hr.solid {
    border-top: 3px solid #000000;
}


.footer{
    display: flex;
    /*justify-content: space-around;*/
    width: 100vw;
    background-color: #6096B4;
    position: relative;
    bottom: 0;
    align-items: center;
   /* left: 0; lisäsin tämän, että footer on koko näytön leveydellä*/
    height: 7vh;
    justify-content: space-around;
 
}


