.area{
    background-color: white;
    display: flex;
    flex-direction: row; 
    width: 100vw;
    min-height: 100vh;
    align-items: flex-start;
}

.map{
    padding: 120px;
    font-size: 18px;
}

.map img{
    float: right;
}

@media only screen and (max-width: 620px) {
    .area .map  {
        flex: 100%;
    }
}